# Server Configuration
SERVER_PORT=8080

# Database Configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=momo_db

# External AI Service
AI_SERVICE_URL=http://localhost:8000

# CORS Configuration
# Gunakan koma sebagai pemisah untuk multiple static origins (Localhost / Dev)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://localhost:5173
